<script language="JavaScript">
function checkPasswordChange(formObj)
{
  var status = false;
  var pwd = (formObj.password.value).trim();
  var pwdconfirm = (formObj.conferma_password.value).trim();
  
  if(pwd==null ||pwd.length==0)
  {
  	status = true;
  }
  else if (pwd.length < 6)
  {
    window.alert("La password deve contenere \n almeno sei caratteri!");
    status = false
  }
  else if(pwd != pwdconfirm)
  {
    var msg = "La password non e' stata confermata!\n";
    msg += "Inserire di nuovo la password."; 
    window.alert(msg);
    document.forms["userField"].password.value="";
    document.forms["userField"].conferma_password.value="";
    status = false;
  }
  else status = true;
  
  return status;
}
</script>

<h2>Cambio password utente $utente.utente</h2>
<div class="contenuti">
    <form name="userField" action="$action" method="post"
			onSubmit="javascript:return checkPasswordChange(this);"
	>
        <input type="hidden" name="changepwd" value="$utente.idUtente"/>
            <table>
                <tr>
                    <td>
                        <h3>Informazioni</h3>
                    </td>
                    <td width="20"></td>
                    <td width="350">
                        <h3>Gruppi di appartenenza</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th>
                                    <label>Nome:</label>
                                </th>
                                <td><input class="inputField" name="nome" type="text"
                                        size="32" maxlength="32" disabled
                                        value=#if($utente.nome) "$utente.nome" #else "" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Cognome:</label>
                                </th>
                                <td><input class="inputField" name="cognome" type="text"
                                        size="32" maxlength="32" disabled
                                        value=#if($utente.cognome) "$utente.cognome" #else "" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Azienda:</label>                
								</th>
                                    <td><input class="inputField" name="azienda" type="text"
                                            size="32" maxlength="32" disabled
                                            value=#if($utente.azienda) "$utente.azienda" #else "" #end/>
									</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>E-mail:</label>
                                </th>
                                <td><input class="inputField" name="mail" type="text"
                                        size="32" maxlength="32" disabled
                                        value=#if($utente.mail) "$utente.mail" #else "" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Telefono:</label>
                                </th>
                                <td><input class="inputField" name="telefono" type="text"
                                        size="32" maxlength="32" disabled
                                        value=#if($utente.telefono) "$utente.telefono" #else "" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Indirizzo:</label>
                                </th>
                                <td><input class="inputField" name="indirizzo" type="text"
                                        size="32" maxlength="32" disabled
                                        value=#if($utente.indirizzo) "$utente.indirizzo" #else "" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Ambito:</label>
                                </th>
                                <td>
                                    <select name="ambito" disabled>
                                        #foreach( $ambito in $list_domains )
                                            <option #if( $ambito.idAmbito == $utente.idAmbito ) selected #end>$ambito.ambito</option>
                                        #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Abilitazione:</label>
                                </th>
                                <td>
                                    <label>Si&nbsp;</label>
                                    <input name="abilitazione" type="radio" value="true" disabled
                                        #if( $utente.abilitazione ) checked #end/>
                                    <label>No&nbsp;</label>
                                    <input name="abilitazione" type="radio" value="false" disabled
                                        #if( !$utente.abilitazione ) checked #end/>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Data di scadenza:<br/>
                                        (gg/mm/aaaa)</label>
                                </th>
                                <td><input class="inputField" name="data_scadenza" type="text" disabled
                                        value=#if ($utente.dataScadenza) "$utente.dataScadenza" #else "nessuna" #end/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Password:</label>
                                </th>
                                <td><input class="inputField" name="password" type="password"
                                        size="32" maxlength="40" value=""/>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Conferma password:</label>
                                </th>
                                <td><input class="inputField" name="conferma_password"
                                        type="password" size="32" maxlength="40" value=""/>
								</td>
                            </tr>
                        </table>
                    </td>
                    <td width="20"></td>
                    <td style="vertical-align: top;">
                        <div class="scrollBox" height="100%">
                            <table width="100%" cellspacing=0>
                                #foreach( $gruppo in $list_groups )
                                    <tr>
                                        <td class="scrollBoxFirstCell"><input type="checkbox"
                                                name="$gruppo.gruppo"
                                                #if( $gruppo.getSelected() == true ) checked #end
                                                    disabled/>
										</td>
                                        <td class="scrollBoxLastCell">"$gruppo.gruppo - $gruppo.descrizione"</td>
                                    </tr>
                                #end
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <div class="pulsanti">
                <input class="tastoNav" type="submit" value="Salva" />
            </div>
    </form>
</div>
